<div class="header-brand" style="background-color: #1775d2">
  <div class="name-presentation">
    <p class="label-name">Yo soy</p>
    <h1>Andy Sánchez</h1>
    <p class="sub">Sonidista :: Técnico Audiovisual :: Programador WEB</p>
  </div>
</div>

<div class="main-side-decoration">
  <div class="content-side-decoration card shadow">
    <div class="card-img">
      <img src="/assets/img/sonido.jpg" alt="sonido-graphic" />
    </div>
    <div class="card-body">
      <h4 class="text-center">Experiencia en Sonido</h4>
      <hr />
      De mis primeras experiencias laborales, de más joven parecía predestinado
      para seguir ésta profesión al punto que ha marcado mi vida completa.
    </div>
  </div>
  <div class="content-side-decoration card shadow">
    <div class="card-img">
      <img src="/assets/img/audiovisual.jpg" alt="audiovisual-graphic" />
    </div>
    <div class="card-body">
      <h4 class="text-center">Audiovisuales</h4>
      <hr />
      El audio profesional ha sido solamente una introducción para un mundo más
      grande y generalizado. En adelante exploramos el video y la iluminación.
    </div>
  </div>
  <div class="content-side-decoration card shadow">
    <div class="card-img">
      <img src="/assets/img/desarrollo-web.png" alt="web-graphic" />
    </div>
    <div class="card-body">
      <h4 class="text-center">Programación WEB</h4>
      <hr />
      La habilidad de programar la he adquirido a modo de hobbie, éste
      portofolio es solo una pequeña muestra de lo que se puede hacer.
    </div>
  </div>
</div>

<footer
  class="page-footer font-small special-color-dark pt-4"
  style="margin-top: 100px"
>
  <!-- <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <form action="#" class="form-inline">
                            <input type="text" class="form-control form-control-sm mr-3 w-75" placeholder="Buscar">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                    </div>
                    <div class="col-md-6 mb-4">
                        <form action="#" class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Correo" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
  <div class="footer-copyright text-center py-3">
    c 2020 Copyright: <a href="#">saturno7.com</a>
  </div>
</footer>
